*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.btn{
    padding: 10px 2vw;
    background-color: darkblue;
    color: white;
    border: none;
    outline: none;
    border-radius: 3vw;
    cursor:pointer;
}